* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100vh;
    min-width: 360px;
    min-height: 410px;
}
:root {
    --background-color: rgb(230, 230, 230);
    --hover-color: rgb(207, 207, 207);
  }
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25px 45px repeat(16,1fr);
    /*grid-auto-rows: minmax(40px,auto);*/
    /*grid-auto-rows: 40px;*/
    margin: 0 auto;
    height: 100% ;
    grid-template-areas: 
    "Bar Bar Bar Bar"
    "Type Type Type Type"
    "Number Number Number Number"
    "Number Number Number Number"
    "Number Number Number Number"
    "Operator Operator Operator Operator"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons"
    "Buttons Buttons Buttons Buttons";
}
.Bar{
    grid-area: Bar;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}
.Title{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    align-items: center;
    justify-content: left;
}
.MainButton{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;

}
.MainButton button{
    width: 35px;
    height: 25px; 
    border: none;
    background-color: var(--background-color);
}
.MainButton button:hover{
    background-color: var(--hover-color);
}
.MainButton .SpecialBtn:hover{
    background-color: rgb(232, 17, 35);
}
.TypeOfCalculator{
    grid-area: Type;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.TypeOfCalculator .List{
    display: flex;
    flex-direction: row;
}
.TypeOfCalculator Title{
    align-items: center;
    justify-content: left;
}
.List button{
    width: 45px;
    height: 45px;
    background-color: var(--background-color);
    border: none;
}
.List button:hover{
    background-color: var(--hover-color);
}
.HistoryBtnField button{
    width: 45px;
    height: 45px;
    border: none;
    background-color: var(--background-color);
}
.HistoryBtnField button:hover{
    background-color: var(--hover-color);
}
.NumberField{
    grid-area: Number;
    background-color: yellow;
}
.Operator{
    grid-area: Operator;
    background-color: pink;
}
.Buttons{
    grid-area: Buttons;
    background-color: red;
    height: auto;
}
.History{
    display: none;
}

/*@media screen and (min-width:500px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr minmax(1fr,150px) minmax(1fr,150px);
        grid-auto-rows: minmax(40px,auto);
        margin: 0 auto;
        grid-template-areas: 
        "Bar Bar Bar Bar Bar"
        "Type Type Type History History"
        "Number Number Number History History"
        "Number Number Number History History"
        "Number Number Number History History"
        "Operator Operator Operator History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History"
        "Buttons Buttons Buttons History History";
    }
    .History{
        display: grid;
        grid-area: History;
        background-color: gray;
        min-width: 300px;
        max-width: 300px;
        align-items: start;
        justify-self: end;
    }
}
@media screen and (min-width: 1200px){
    .main{
        grid-template-columns: 1fr 1fr 1fr minmax(1fr,170px) minmax(1fr,170px);
    }
}*/